# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.venv/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/


metrics/config
experiments/config
experiments/resources/setups