# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.venv/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/


metrics/config/postgres_user.json
experiments/config/llm_api_keys.json
experiments/config/codedefenders_users.json
experiments/config/postgres_user.json
experiments/resources/setups/*